<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        margin: 0%;
      }
      .box {
        height: 100px;
        width: 100px;
        background-color: rgb(230, 0, 176);
        position: absolute;
        margin: 10px;
        left: 0px;
        bottom: 0%;
      }

      .box2 {
        height: 100px;
        width: 100px;
        position: relative;
        background-color: black;
      }
    </style>
  </head>
  <body>
    <div class="box"></div>
    <div class="box2"></div>
  </body>
</html>
