<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=hea, initial-scale=1.0" />
    <title>Document</title>

    <style>
      body {
        height: 100vh;
        width: auto;
        margin: 5px;
        padding: 10px;
      }
      .head {
        display: flex;
        justify-content: space-evenly;
      }
    </style>
  </head>
  <body>
    <header>
      <nav class="head">
        <span>
          <img src="https://megaone.acrothemes.com/web-hosting/img/logo.png"
        /></span>
        <p class="head">
          <span>HOME</span>
          <span>HOSTING</span>
          <span>PRICING</span>
          <span>VPS SERVICE</span>
          <span>REVIEWS</span>
          <span>BLOG</span>
          <span>CONTACT US</span>
        </p>
      </nav>
    </header>
  </body>
</html>
